section.hero.is-light(id='footer-hero',style="text-align: center; ")
	.hero-body
		.container
			h2.subtitle
				strong Dashboard
				|  by 
				a(href='https://arturgomes.com.br') Artur Gomes
				| . The source code is licensed
				a(href='http://opensource.org/licenses/mit-license.php')  MIT
				| . The website content
				|         is licensed 
				a(href='http://creativecommons.org/licenses/by-nc-sa/4.0/') CC BY NC SA 4.0
				| .

