section.hero.is-light(id='footer-hero',style="text-align: center; ")
	.hero-body
		.container
			h2.subtitle
				strong Designed and Coded
				|  by 
				a(href='https://arturgomes.com.br') Artur Gomes
